.AppKarkaz {
  display: grid;
  grid-template-areas:
    'h h'
    's c'
    'f f';
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  /* min-width: 700px; */
  padding: 0px 15px;
}

body {
  background-color: white;
}